@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-3;
}
.mobile-nav{
  @apply fixed top-10 left-0 bg-stone-600 w-full h-1/4;
}

.mobile-nav li{
  @apply w-full h-full text-center
}
.bg-secondary{
  background:chartreuse
}
.btn{
  @apply bg-slate-800 px-5 py-2 font-medium
}
.project-desc{
  @apply absolute left-0 right-0 bottom-0 top-0 bg-orange-400 opacity-0 duration-500 hover:opacity-100;
}

